<!-- templates/registration/password_reset_confirm.html -->
{% extends "base.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<div style="border: 3px solid black;padding: 25px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color: #85dcb8;">
{% if validlink %}

<h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
</div>
{% endblock %}