<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<div style="border: 3px solid black;padding: 25px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color: #85dcb8;">
<h1>Password reset complete</h1>
<p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}" style="font-weight: bold;font-family:cursive;border: 2px solid black;white-space: nowrap;padding: 8px;background-color: #e27d60;">log in page</a>.</p>
</div>
{% endblock %}