<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<div style="border: 3px solid black;padding: 25px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color: #85dcb8;width: 50%;">
    Welcome to our website, your one-stop destination for all your pet care needs! We are passionate about providing high-quality services that cater to your pet's every need, ensuring they are happy, healthy and cared for.
    Our team of experienced professionals are dedicated to providing a safe and welcoming environment for your furry friend. Whether it's grooming, pool sessions, boarding or Pet's day out, we have a range of services that cater to every pet owner's needs.
    Our grooming services are tailored to suit your pet's specific requirements, using only the highest quality products to ensure they look and feel their best. We understand the importance of regular grooming in maintaining your pet's health and hygiene, and our team of trained professionals are here to help.
    Our pool sessions are perfect for those hot summer days when your pet needs to cool off and have some fun. Our facilities are safe and hygienic, providing your pet with a refreshing and stimulating experience.
    We also offer boarding services for when you're away and need a safe and secure place for your pet to stay. Our facilities are equipped with everything your pet needs to feel at home, including comfortable bedding and plenty of toys and treats.
    And if your pet needs some extra exercise and socialization, our Pet's day out services are the perfect solution. Our team of trained professionals will take your pet on a fun and exciting adventure, giving them the chance to explore new environments and make new furry friends.
    At our website, we are committed to providing the highest level of care for your pet. Our team of professionals are dedicated to ensuring your pet is happy, healthy and safe at all times. Contact us today to learn more about our services and how we can help you take care of your furry friend.</div>
{% endblock %}